{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="csrf_token" content="{{ csrf_token }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "styles/faturamento-style.css" %}">
    </head>
   <body>
    <div id="top_banner">
        <div class="banner_item">
            <a href="/" id="home">nadicCRM</a>
        </div>
        <div class="banner_group">
            <div class="banner_item">
                <a href="{% url 'profile' user.id %}">
                    <img src="{% static 'imgs/profile.png' %}" alt="Perfil">
                </a>
            </div>
            <div class="banner_item">
                <a href="/cart">
                    <img src="{% static 'imgs/cart.png' %}">
                </a>
            </div>
        </div>
    </div>

    <div class="main_content">
        <div class="info_card">
            <p>Faturamento Atual da Empresa:</p>
            <p><strong>{{ faturamento_empresa }} R$</strong></p>
        </div>

        <div class="info_card">
            <p>Capital Transacionado pelo Sistema:</p>
            <p><strong>{{ faturamento_total }} R$</strong></p>
        </div>
    </div>
    <script src="{% static "js/index_script.js" %}" async defer></script>
</body>
</html>