{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
    <meta name="description" content="">
    <meta name="csrf_token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static "styles/product-view-style.css" %}"> </head>
<body>
       <div id="top_banner">
    <div class="banner_item">
        <a href="/" id="home">nadicCRM</a>
    </div>
    <div class="banner_group">
        <div class="banner_item">
            <a href="{% url 'profile' user.id %}">
                <img src="{% static 'imgs/profile.png' %}" alt="Perfil">
            </a>
        </div>
        <div class="banner_item">
            <a href="/cart">
                <img src="{% static 'imgs/cart.png' %}">
            </a>
        </div>
    </div>
</div>

    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="product-container">
            <img src="{{ product.product_image.url }}">
            
            <div class="product-info">
                {% if owner %}
                <a href="../product_edit/{{product.id}}" class="edit-link">Editar Produto</a>
                {% endif %}
                <h2>{{product.product_name}}</h2>
                <span>R$ {{product.product_price}}</span>
                <p>{{product.product_description}}</p>
                
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="button-group">
                        <input type="submit" name="action" value="comprar" onclick="return confirm('Confirma a compra?');">
                        <input type="submit" name="action" value="carrinho" onclick="return confirm('Deseja adicionar ao carrinho?');">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>