{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="csrf_token" content="{{ csrf_token }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "styles/index_style.css" %}">
    </head>
    <body>
    <form method="GET">
        <input name="search" id="search">
        <input type="submit" value="submit">
        <div id="suggestionBox"></div>
    </form>
        <ul>
            <a href="/product_user"> adicionar producto </a> <br>
            <p> {{faturamento}} </p>
            {% for itens in products %}
            <li><a href="/product_edit/{{ itens.id }}">
            <div>
            <img src="{{itens.product_image.url}}">
            <span>{{itens.product_name}}</span>
            </a>
            </div>
            </li>
            {% endfor %}
        </ul>
        <script src=" {% static "js/auto_complete.js" %}" async defer></script>
    </body>
</html>