{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard do Vendedor</title>
        <meta name="description" content="">
        <meta name="csrf_token" content="{{ csrf_token }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "styles/seller-dashboard-style.css" %}">
    </head>
    <body>
        <div id="top_banner">
            <div class="banner_item">
                <a href="/" id="home">nadicCRM</a>
            </div>
            <div class="banner_group">
                <div class="banner_item">
                    <a href="{% url 'profile' user.id %}">
                        <img src="{% static 'imgs/profile.png' %}" alt="Perfil">
                    </a>
                </div>
                <div class="banner_item">
                    <a href="/cart">
                        <img src="{% static 'imgs/cart.png' %}">
                    </a>
                </div>
            </div>
        </div>

        <div class="search-container">
            <form method="GET">
                <input name="search" id="search" placeholder="Buscar produtos...">
                <input type="submit" value="Buscar">
            </form>
            <div id="suggestionBox"></div>
        </div>

        <div class="dashboard-actions">
            <a href="/product_user">Adicionar Novo Produto</a>
            <div class="dashboard-info">
                <p>Faturamento: **R$ {{ faturamento }}**</p>
            </div>
        </div>

        <ul>
            {% for itens in products %}
            <li>
                <a href="/product_edit/{{ itens.id }}" class="product-item-link">
                    <img src="{{itens.product_image.url}}">
                    <span>{{itens.product_name}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if is_paginated %}
                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <strong class="paginator">{{ num }}</strong>
                {% else %}
                    <a href="?page={{ num }}" class="paginator">{{ num }}</a>
                {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <script src="{% static "js/auto_complete.js" %}" async defer></script>
    </body>
</html>