{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Adicionar Produto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "styles/user-product-style.css" %}">
    </head>
    <body>
        <div id="top_banner">
            <div class="banner_item">
                <a href="/" id="home">nadicCRM</a>
            </div>
            <div class="banner_separator"></div>
            <div class="banner_item">
                <a href="{% url 'profile' user.id %}">
                    <img src="{% static 'imgs/profile.png' %}" alt="Perfil">
                </a>
            </div>
            <div class="banner_item">
                <a href="/cart">
                <img src="{% static 'imgs/cart.png' %}">
                </a>
            </div>
        </div>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Adicionar Produto</h1>
            {{form.as_p}}
            <input type='submit' id='submit' value='submit'>
        </form>
    </body>
</html>